<div class="small-12 large-10 large-offset-1 container margin-top">
  <div class="small-12 large-10 columns text-dark-grey section-header">Students</div>
  <div class="small-12 large-7 columns panel white-bg cr-panel">
    <search-paginator></search-paginator>
    <div class="small-12 large-12 columns nopadding" id="admin-table--student">
      <table class="table table-striped table-bordered">
        <thead>
          <tr>
            <th>
              <a href="javascript:;"
                  ng-click="sortType = 'email'; sortReverse = !sortReverse">Email
                <span ng-show="sortType == 'email' && !sortReverse"
                      class="fa fa-caret-down"></span>
                <span ng-show="sortType == 'email' && sortReverse"
                      class="fa fa-caret-up"></span>
              </a>
            </th>
            <th>
              <a href="javascript:;"
                ng-click="sortType = 'name'; sortReverse = !sortReverse">RealName
                <span ng-show="sortType == 'name' && !sortReverse"
                      class="fa fa-caret-down"></span>
                <span ng-show="sortType == 'name' && sortReverse"
                      class="fa fa-caret-up"></span>
              </a>
            </th>
            <th>
              <a href="javascript:;"
                ng-click="sortType = 'cohort.name'; sortReverse = !sortReverse">Cohort
                <span ng-show="sortType == 'cohort.name' && !sortReverse"
                      class="fa fa-caret-down"></span>
                <span ng-show="sortType == 'cohort.name' && sortReverse"
                      class="fa fa-caret-up"></span>
              </a>
            </th>
            <th>
              <a href="javascript:;"
                ng-click="sortType = 'is_active'; sortReverse = !sortReverse">Active
                <span ng-show="sortType == 'is_active' && !sortReverse"
                      class="fa fa-caret-down"></span>
                <span ng-show="sortType == 'is_active' && sortReverse"
                      class="fa fa-caret-up"></span>
              </a>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="student in students | orderBy:sortType:sortReverse | filter: searchTerm | limitTo:itemsPerPage:startFrom">
            <td>{{student.email}}</td>
            <td>
              {{"(" + student.id + ")-" + student.name}}
            </td>
            <td>
              {{student.cohort.name}}
            </td>
            <td>
              <div class="switch">
                <input id="cmn-toggle-{{student.id}}"
                  class="cmn-toggle cmn-toggle-round"
                  type="checkbox"
                  ng-model="student.is_active"
                  ng-change="changeStatus(student)"
                  ng-check="student.is_active">
                <label for="cmn-toggle-{{student.id}}"></label>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <paginator></paginator>
  </div>
  <div class="small-12 large-5 columns">
    <form name="newStudentForm"
          ng-submit="newStudent()" novalidate>
      <fieldset>
        <legend>Add New Student</legend>
        <label>Full Name
          <input type="text"
                  ng-model="student.name"
                  ng-required="true" required>
        </label>
        <div role="alert">
          <small class="error"
                  ng-show="newStudentForm.name.$invalid &&
                           !newStudentForm.name.$pristine">
           Full Name is required</small>
        </div>
        <label>Email
          <input type="email"
                  ng-model="student.email"
                  ng-required="true"
                  required>
        </label>
        <div role="alert">
          <small class="error"
                  ng-show="newStudentForm.email.$invalid &&
                           !newStudentForm.email.$pristine">
           Email is required</small>
        </div>
        <label>Password
          <input type="text"
                  ng-model="student.password"
                  placeholder="changeme"
                  value="changeme"
                  disabled>
        </label>
        <label>Cohort
          <select ng-model="student.cohort_id"
                  ng-options="cohort.id as cohort.name for cohort in cohorts"
                  class="input-with-append"
                  ng-show="!showAddNewCohort">
            <option value="">Choose a cohort</option>
          </select>
          <input type="text"
            ng-model="student.cohort.name"
            placeholder="Cohort Name"
            ng-show="showAddNewCohort"
            class="input-with-append"/>
          <a href="javascript:;" ng-click="revealAddNewCohort()"
            class="form-link">
            <i class="fa fa-lg fa-plus-circle icon-space cl-green"
              ng-show="!showAddNewCohort"></i>
            <i class="fa fa-times fa-lg icon-space cl-orange"
              ng-show="showAddNewCohort"></i>
          </a>
        </label>
        <div class="small-12 large-12 columns nopadding"
            ng-show="showAddNewCohort">
          <div class="small-12 large-6 columns nopadding">
            <label>Cohort Start Date
              <date-picker
                class="date-picker"
                placeholder="Start Date"
                ng-model="student.cohort.start_at"
                not-after="student.cohort.end_at"
                format="dd-MM-yy"
                autohide=true/></date-picker>
            </label>
          </div>
          <div class="small-12 large-6 columns nopadding">
            <label>Cohort End Date
              <date-picker
                class="date-picker"
                placeholder="End Date"
                ng-model="student.cohort.end_at"
                not-before="student.cohort.start_at"
                format="dd-MM-yy"
                autohide=true/></date-picker>
            </label>
          </div>
        </div>
        <button type="submit"
                class="button small radius"
                ng-disabled="!newStudentForm.$valid"
                >Create Account</button>
        <button type="reset"
                 class="button small radius">Clear</button>
      </fieldset>
    </form>
  </div>
</div>

