<% content_for(:title, 'Curriculum')%>

<div class="small-12 large-10 large-offset-1 columns" id="curriculum">
  <div class="small-8 large-12 columns text-center">
    <h1 class="x2-margin-top apply-text text-dark-blue text-center" id="curri">
      CURRICULUM
    </h1>
  </div>
  <div class="small-12 large-12 columns">
  <ul class="timeline">
    <li class="event">
      <input type="radio" name="tl-group" checked/>
      <label></label>
      <div class="thumb week-1"><span>Week 1:</span></div>
      <div class="content-perspective">
        <div class="content">
          <div class="content-inner">
            <h3>HTML5 & CSS3 Basic</h3>
            <ul>
              <li>Basic Terminology</li>
              <li>My first website</li>
            </ul>
          </div>
        </div>
      </div>
    </li>

    <li class="event">
      <input type="radio" name="tl-group"/>
      <label></label>
      <div class="thumb week-2"><span>Week 2:</span></div>
      <div class="content-perspective">
        <div class="content">
          <div class="content-inner">
            <h3>My favorite website</h3>
            <ul><li>Clone a website with HTML & CSS</li></ul>
          </div>
        </div>
      </div>
    </li>

    <li class="event">
      <input type="radio" name="tl-group"/>
      <label></label>
      <div class="thumb week-3"><span>Week 3:</span></div>
      <div class="content-perspective">
        <div class="content">
          <div class="content-inner">
            <h3>Introduction to Ruby Basics</h3>
            <ul>
              <li>Ruby syntax</li>
              <li>Numbers, String, Boolean</li>
              <li>Variable, Math, Flow Control etc.</li>
            </ul>
          </div>
        </div>
      </div>
    </li>

    <li class="event">
      <input type="radio" name="tl-group"/>
      <label></label>
      <div class="thumb week-4"><span>Week 4:</span></div>
      <div class="content-perspective">
        <div class="content">
          <div class="content-inner">
            <h3>Ruby Basics II</h3>
            <ul>
              <li>Data Structure</li>
              <li>Method, Class, Block</li>
            </ul>
          </div>
        </div>
      </div>
    </li>

    <li class="event">
      <input type="radio" name="tl-group"/>
      <label></label>
      <div class="thumb week-5"><span>Week 5:</span></div>
      <div class="content-perspective">
        <div class="content">
          <div class="content-inner">
            <h3>Intermediate + Advanced Ruby</h3>
            <ul>
              <li>My Cash Register</li>
              <li>Banking</li>
              <li>Comet</li>
            </ul>
          </div>
        </div>
      </div>
    </li>

    <li class="event">
      <input type="radio" name="tl-group"/>
      <label></label>
      <div class="thumb week-67"><span>Week 6-7:</span></div>
      <div class="content-perspective">
        <div class="content">
          <div class="content-inner">
            <h3>Object Oriented Programming</h3>
            <ul>
              <li>Class, Class Method, Private Method</li>
              <li>Module</li>
              <li>File I/O</li>
            </ul>
          </div>
        </div>
      </div>
    </li>

    <li class="event">
      <input type="radio" name="tl-group"/>
      <label></label>
      <div class="thumb week-8"><span>Week 8:</span></div>
      <div class="content-perspective">
        <div class="content">
          <div class="content-inner">
            <h3>SQL</h3>
            <ul>
              <li>Create Table</li>
              <li>Insert, Update, Delete</li>
              <li>Advanced Queries</li>
            </ul>
          </div>
        </div>
      </div>
    </li>

    <li class="event">
      <input type="radio" name="tl-group"/>
      <label></label>
      <div class="thumb week-9"><span>Week 9:</span></div>
      <div class="content-perspective">
        <div class="content">
          <div class="content-inner">
            <h3>Web Development With Ruby on Rails</h3>
            <ul>
              <li>Git - Github</li>
              <li>The HTTP protocol</li>
              <li>Routing</li>
              <li>Model - View - Controller (MVC)</li>
            </ul>
          </div>
        </div>
      </div>
    </li>

    <li class="event">
      <input type="radio" name="tl-group"/>
      <label></label>
      <div class="thumb week-10"><span>Week 10:</span></div>
      <div class="content-perspective">
        <div class="content">
          <div class="content-inner">
            <h3>Migration, Debugging, TDD, Deploy to Heroku</h3>
            <ul>
              <li>Schema Design</li>
              <li>Indexing</li>
              <li>ActiveRecord</li>
              <li>Debug with Pry</li>
              <li>Test Driven Developemnt (TDD)</li>
            </ul>
          </div>
        </div>
      </div>
    </li>

    <li class="event">
      <input type="radio" name="tl-group"/>
      <label></label>
      <div class="thumb week-11"><span>Week 11:</span></div>
      <div class="content-perspective">
        <div class="content">
          <div class="content-inner">
            <h3>Front End</h3>
            <ul>
              <li>Twitter Boostrap / Foundation</li>
              <li>Jquery</li>
            </ul>
          </div>
        </div>
      </div>
    </li>

    <li class="event">
      <input type="radio" name="tl-group"/>
      <label></label>
      <div class="thumb week-1215"><span>Week 12 - 15:</span></div>
      <div class="content-perspective">
        <div class="content">
          <div class="content-inner">
            <h3>Group Project</h3>
            <ul>
              <li>Eager Load, Lazy Load</li>
              <li>Ajax, JSON</li>
              <li>Authentication</li>
              <li>Pagination</li>
              <li>ActionMailer + E-Mail</li>
              <li><strong>Interview Preparation + Practice</strong></li>
            </ul>
          </div>
        </div>
      </div>
    </li>

    <li class="event">
      <input type="radio" name="tl-group"/>
      <label></label>
      <div class="thumb week-1620"><br><span>Week 16 - 20:</span></div>
      <div class="content-perspective">
        <div class="content">
          <div class="content-inner">
            <h3>VCoder Final Project</h3>
            <ul>
              <li>Building an application with complexity</li>
              <li>Project will be used in porfolio.</li>
              <li>Code Quality</li>
            </ul>
          </div>
        </div>
      </div>
    </li>

  </ul>
</div>
</div>
