<div class="container">
  <div class="row panel white-bg x2-margin-top panel-radius">
    <div class="eight columns">
      <h1 class="x2-margin-top apply-text text-dark-grey text-center ">
        Vcoderbootcamp.com Privacy Policy
      </h1>
      <div class="small-12 large-12 columns x2-margin-top">
        curri
      </div>
    </div>
  </div>
</div>

