<% content_for(:title, 'FAQ')%>

<div class="container">
  <div class="row panel white-bg x2-margin-top panel-radius">
    <div>
      <h1 class="x2-margin-top apply-text text-dark-grey text-center ">
        FREQUENTLY ASKED QUESTIONS
      </h1>
      <div class="small-12 large-12 columns x2-margin-top"
            id="faq">
        <dl class="accordion" data-accordion>
          <dd class="accordion-navigation">
            <a href="#panel1b"><span class="plusminus icon-space-right">+ </span>What is Vcoder Bootcamp?</a>
            <div id="panel1b" class="content padding">
             Vcoder bootcamp is a unique 20 week fully imersive course that takes eager learners from little to no experience and teach them what it takes to add value as a junior contributor to a software engineering team.
            </div>
          </dd>
          <dd class="accordion-navigation">
            <a href="#panel2b"><span class="plusminus icon-space-right">+ </span>What makes Vcoder Bootcamp different from similar programs?</a>
            <div id="panel2b" class="content">
             Vcoder bootcamp sets itself apart from similar programs via its long term focus on the students' success after completing the course. We are not concerned about how many people we have as students rather what great things our students are doing after they graduate. Many similar programs today are either student self­ taught online courses or full on commitment at an onsite location. Here at Vcoder Bootcamp we have merged the two methods to create a unique course to give our students the commitment and support they need as well as flexibility.Unlike, online programs, <strong>we offer our students at least 15 hours of support a week </strong> where they can <strong>directly talk to mentors and get unlimited help onsite or online </strong>. Traditional online programs only offer up 4 hours a week and is focused more on student self learning. Importantly, Vcoder Bootcamp provides a post course completition support where students can continue to drop in­person during office hours or via online to get the help they need to ensure emotional and job­specific support during the initial phase of their new jobs.
            </div>
          </dd>
          <dd class="accordion-navigation">
            <a href="#panel3b"><span class="plusminus icon-space-right">+ </span>Is this course the same thing as school, but for coding?</a>
            <div id="panel3b" class="content">
              No, it is probably the opposite of it becausing running our bootcamp like school would be very unproductive and hmm.. what is a polite way of saying this, boring. Vcoder Bootcamp sets itself apart from typical school courses is that we will actually be doing something. Students will be able to learn and apply the skills to build REAL things. Some of the things our students build may follow them into their portfolio or even to their next job, that's how real they will be. It's not about sitting in a classroom to listen to lecture about how to code, but actually practice to learn these skills. Vcoder Bootcamp teaches strong basics so that students learn to build, build, and kee building from there. Don't think that you will learn the same thing over and over again, because we will throw new challenges at you everyday, until you can build cool projects that have always lingered in your head.
            </div>
          </dd>
          <dd class="accordion-navigation">
            <a href="#panel4b"><span class="plusminus icon-space-right">+ </span>What are the technical qualifications?</a>
            <div id="panel4b" class="content">
              ­No prior industry or academic experience is required. Yes, that means you don't need to have a computer science degree or background to become a developer! We teach everything from scratch in a easy step by step process. The only thing we want to make sure is that you've turned on a computer at some point in your lives and done some non-programming tasks. That's not too much to ask for right?
            </div>
          </dd>
          <dd class="accordion-navigation">
            <a href="#panel5b"><span class="plusminus icon-space-right">+ </span>What are the non­technical qualifications?</a>
            <div id="panel5b" class="content">
              ­<ul>
                <li>Passionate, eager learners.</li>
                <li>Empathetic communicators ­ we care about people more than machines and their ability to empathize with one another as a team.</li>
                <li>Dedicated, curious coders who value building beautiful and meaningful things.</li>
              </ul>
            </div>
          </dd>
          <dd class="accordion-navigation">
            <a href="#panel6b"><span class="plusminus icon-space-right">+ </span>Who is the typical Vcoder Bootcamp applicant?</a>
            <div id="panel6b" class="content">
              ­Using the word "typical" goes against what Vcoder Bootcamp is about and what we look for in applicants. Vcoder Bootcamp is all about looking for diversed people with different backgrounds. Some applicants may have CS degrees and want to get web dev­specific training before applying to jobs. Some come from adjacent fields, like design or IT, and have been tangentially working with coding for a while. Some have been learning programming on their own, and wanted to get the complete skill set they needed to start a dev career. We look for passionate and eager learners ready to build awesome projects!
            </div>
          </dd>
          <dd class="accordion-navigation">
            <a href="#panel7b"><span class="plusminus icon-space-right">+ </span>Do you accept foreign students?</a>
            <div id="panel7b" class="content">
              ­Definately! Here at Vcoder Bootcamp not only embrace diversity, but also encourage it at all levels. We, unfortunately, do not offer visa assistance.
            </div>
          </dd>
          <dd class="accordion-navigation">
            <a href="#panel8b"><span class="plusminus icon-space-right">+ </span>What's the schedule?</a>
            <div id="panel8b" class="content">
              ­The weekly schedule is as following:
              <ul>
                <li>Our "week" starts from <strong>Saturday (1pm-5pm)</strong>, where lecture will be taken place in approximately 30 to 60 minutes. Students will immediately dive into project right after.</li>
                <li><strong>Sunday (1pm-5pm)</strong> the "Batte Ship Day", students will form groups, apply the material learned from Saturday to work on a "real" projects and try to deploy it during the day. We will also vote to see which team perform best and do some code reviews.<br>
                At the end of day, there will be some fun activites to engage everyone and build relationships between Vcoders.
                Light beverages and foods will be provided by the house.</li>
                <li><strong>Tuesday & Thursday (6pm-9pm):</strong> Each group's mentor will assign some tasks which need to be complete during the week. These assignment are not mendatory but recommended to help us track student's learning and provide help as needed. Students can choose to work onsite with mentor or online at our forum and help center.</li>
                <li><strong>Unlimited help via email and forum daily to fit in your schedule.</strong></li>
              </ul>
            </div>
          </dd>
          <dd class="accordion-navigation">
            <a href="#panel9b"><span class="plusminus icon-space-right">+ </span>Do I need to bring a laptop?</a>
            <div id="panel9b" class="content">
              Absolutely! All of our students will need to bring their own Mac laptops. We require our students to bring a Mac because running open source softwares on a windows machine may be very difficult. We want our students to easily work and learn how it would be on their real job. Don't worry if you don't know how to do that, we will spend some time figuring all this out during on site meetings. Everyone will have consistent tools and softwares to make collaboration and troubleshooting much easier.
              We provide some monitor displays for students to hook their laptops up to for pair programming for coding challenges or group projects.
            </div>
          </dd>
          <dd class="accordion-navigation">
            <a href="#panel10b"><span class="plusminus icon-space-right">+ </span> When should I apply to get into a particular cohort?</a>
            <div id="panel10b" class="content">
              Students should apply when they feel they are ready to start the journey. It is never too early to apply.
              There is no deadline to apply as long as its before the given cohort start date. If we think you are a great fit with our program, we will set up an interview. Class fills up when we have admit enough qualified students.
            </div>
          </dd>
          <dd class="accordion-navigation">
            <a href="#panel11b"><span class="plusminus icon-space-right">+ </span> How do I find out more about applying?</a>
            <div id="panel11b" class="content">
              You can send an email to admissions@vcoderbootcamp.com
            </div>
          </dd>
          <dd class="accordion-navigation">
            <a href="#panel12b"><span class="plusminus icon-space-right">+ </span> Are there loan options?</a>
            <div id="panel12b" class="content">
              In terms of student loans, we have not been able to jump through the necessary bureaucratic hoops to qualify for federally­subsidized education programs, etc.
              However, we do offer two tuition options. One being, pay tuition upfront. The other option would be personal monthly payments through Voderbootcamp. Monthly payments will be divided into 5 months during the bootcamp of $400.00/month (pay as you go) to cover tuition cost.
            </div>
          </dd>
          <dd class="accordion-navigation">
            <a href="#panel13b"><span class="plusminus icon-space-right">+ </span>I have more questions...</a>
            <div id="panel13b" class="content">
              Shoot us an Email ­ <strong>help@vcoderbootcamp.com</strong>.
              <p>The Skills you pick up here are valuable around the world. Graduates walk out the door with an increasingly impressive array of project work that would impress employers in any country.</p>
            </div>
          </dd>
        </dl>
      </div>
    </div>
  </div>
</div>

