<% content_for(:title, 'Thank You')%>

<div class="container">
  <div class="row panel white-bg text-center x2-margin-top panel-radius"
        id="thanks-prospect">
    <h1 class="apply-text text-dark-grey">Yay! You are one step closer</h1>
    <p class="">
      What's next?
      We will review your application and schedule an interview with you soon.
      <div class="x2-margin-top">
        Thanks from the VCoder Team.
      </div>
    </p>
  </div>
</div>

