#main-logo{
  width: 130px;

  @media #{$large-up} {
    margin-left: 80px ;
  }
}

.sub-top{
  background-color: #1C2225;
  height: 7px;
}

.top-center{
  background: url(Dollarphotoclub_76103803.jpg) no-repeat top center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  left: 0;
  height: 650px;
  width: 100%;
}

.welcome-text{
  background: none repeat scroll 0 0 transparent;
  background-color: rgba(255,255,255,0.7);
  zoom: 1;
  border-radius: 5px;
  text-align: center;
}

.custom-panel{
  background-color: rgba(255,255,255,0.8);
}

.white-bg{
  background-color: white;
}

.welcome-text{
  @media #{$medium-only} {
    margin-top: 80px;
    width: 90%;
  }
  @media #{$large-up} {
    margin-top: 120px;
    width: 70%;
  }
}

.field-man{
  margin: 20px auto;
  font-family: "Montserrat", sans-serif;
  font-size: 2em;
  color: #2E3B4E;
  text-shadow: 2px 8px 6px rgba(0,0,0,0.2),
                 0px -5px 35px rgba(255,255,255,0.3);
}

.field-man{
  @media #{$small-only} {
    font-size: 1.2em;
  }
}

#start-application{
  font-size: 1em;
  font-weight: bold;
}

#btn-sign-in{
  padding: 10px 15px 10px 15px;
  margin: 5px auto;
}

#sign-in-li{
  padding: 0px 10px 0px 10px;
}

.cs-panel{
  background: #fff;
  min-height: 166px;
  overflow: hidden;
}

.x2-margin-top{
  margin-top: 40px;
}

.x2-margin-bottom{
  margin-bottom: 40px;
}

.margin-top{
  margin-top: 10px;
}

.padding{
  padding: 1rem;
}

.nopadding{
  padding: 0px !important;
}

.nopadding-right{
  padding-right: 0px !important;
}

.why-should--headline{
  color: #808080;
  font-size: 2.2em;
  font-weight: 400;
  font-family: "Merriweather",Georgia,serif;
}

.text-center{
  text-align: center !important;
}

.avatar--medium{
  width: 180px;
  height: 180px;
}

.avatar img{
  position: absolute;
  margin: 0px 0px 0px -25px;
  margin-top: 1em;
  margin-right: 1em;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 0 3px #fff, 0 0 0 4px #999, 0 2px 5px 4px rgba(0,0,0,.2);
  -moz-box-shadow: 0 0 0 3px #fff, 0 0 0 4px #999, 0 2px 5px 4px rgba(0,0,0,.2);
  box-shadow: 0 0 0 3px #fff, 0 0 0 4px #999, 0 2px 5px 4px rgba(0,0,0,.2);
}

.avatar img{
  @media #{$medium-only} {
    width: 140px;
    height: 140px;
    margin: 0px 0px 0px -43px;
  }
  @media #{$small-only} {
    margin-left: 50px;
  }
  @media only screen and (max-width: 450px) {
    margin-left: -30px;
  }
}

.ul--no-decor{
  list-style-type: none;
}

.avatar-header{
  font-family: "Merriweather",Georgia,serif;
}

.sub-avatar{
  font-weight: 400;
  font-size: 14px;
  font-family: "Merriweather",Georgia,serif;
}

#satisfaction{
  font-family: "Merriweather",Georgia,serif;
}

.panel-radius{
  border-radius: 3px;
}

.zigzag:before {
  content: "";
  display: block;
  position: absolute;
  top: -10px;
  width: 100%;
  height: 10px;
  left: 0px
}

.container2:before {
  background:
    linear-gradient(
      35deg, transparent 10.333%,
      #F4F4F4 50.333%, #F4F4F4 66.667%,
      transparent 66.667%
    ),
    linear-gradient(
      -35deg, transparent 33.333%,
      #F4F4F4 33.333%, #F4F4F4 66.667%,
      transparent 66.667%
    );
  background-size: 20px 40px;
}

.text-rotate{
  text-align: center;
  position: absolute;
  font-size: 2.5em;
  color: white;
  margin-top: -250px;
  margin-left: 20px;
  z-index: 10;
  text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
}

.text-rotate{
  @media #{$small-only} {
    font-size: 1em;
    margin-top: -50px;
  }
}

.text-rotate{
  @media #{$medium-only} {
    font-size: 1.5em;
    margin-top: -55px;
  }
}

.l-footer{
  background-color: #333333;
}

.m-footer{
  margin-top: 70px !important;
  height: 70px;
  text-align: center;
  padding: 27px;
  font-size: 14px;
  margin-bottom: 15px;
}

.text-grey{
  color: #808080;
}

.text-white{
  color: white;
}

.foot-nav li{
  color: white;
}

.foot-nav-link li{
  display: block;
  border-left: 6px solid rgb(64,73,80);
  padding: 8px 0 8px 10px;
  color: white;
}

.foot-nav-link li:hover{
  color: #EA4A3C;
  border-left: 6px solid rgb(234,74,60);
}

.icon-space{
  margin-left: 10px;
}

.icon-space-right{
  margin-right: 10px;
}

.text-red{
  color: #E12A27 !important;
}
.icon-padding{
  padding: 5px;
}

.seventy-fade{
  opacity: 0.7;
}

.panel-radius{
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 6px 0px rgba(50, 50, 50, 0.75);
  -moz-box-shadow:    0px 0px 6px 0px rgba(50, 50, 50, 0.75);
  box-shadow:         0px 0px 6px 0px rgba(50, 50, 50, 0.75);
}

.apply-text{
  font-family: "Lato", sans-serif;
}

.container{
  height: 100%;
}

.text-dark-grey{
  color: #616161 !important;
}

.text-dark-blue{
  color: #052133 !important;
}

#thanks-prospect{
  margin-top: 15%;
}

.l-copyright{
  margin-top: 80px;
}

.link--no-decor{
  text-decoration: none;
  color: inherit;
}

.link--no-decor:hover{
  text-decoration: none;
  color: inherit;
}

.text-blue{
  color: #0064D2 !important;
}

#faq .accordion .accordion-navigation a{
  background: none !important;
  font-weight: bold;
  color: #3D9EC6;
}

#faq .accordion .accordion-navigation > .content{
  line-height: 1.5em;
  padding-left: 25px;
}

#faq dl{
  line-height: 0.5em;
}


.border-left{
  border-left: 1px solid black;
}

.cohort-name{
  font-weight: 300;
}

.enrolling{
  color: #3D9EC6;
  font-style: italic;
  font-weight: 200;
}

.button-orange{
  background-color: #F15A24;
  color: white;
  font-weight: bold;
}

.button-orange:hover{
  background-color: #CC4A23;
}

#payment-choice{
  font-size: 18px;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  line-height: 1.5;
  margin-bottom: 20px;
}

.plan-price{
  font-size: 5em;
  font-weight: 300;
  letter-spacing: -3px;
  color: #27415A;
}
#our-program-header-image{
  height: 290px;
}

#the-program-img{
  margin-top: 30px;
  zoom: 190%;
}

#our-program{
  background-color: #629DD0;
}

#our-program-h1{
  margin-top: 100px;
  font-size: 3.5em;
  color: white;
  font-family: "Merriweather",Georgia,serif;
}

#about-vcoder {
  border-bottom: 1px solid rgba(5,33,51,.25);
}

.description-style{
  font-size: 1.20em;
  font-family: "Merriweather", "Helvetica Neue","Helvetica",Helvetica,Arial,sans-serif;
  font-weight: 350;
  opacity: 0.8;
}

#program-2nd-row{
  border-bottom: 1px solid rgba(5,33,51,.25);
}

#who-we-teach{
  font-family: "Merriweather",Georgia,serif;
  font-weight: 300;
}

#vcoder-bc{
  color: black;
  zoom: 110%;
  font-weight: bolder;
}

#program-student{
  margin-left: 60px;
}

.text-black{
  color: black;
  font-weight: bolder;
}

#curriculum{
  zoom: 80%;
  font-family: "Merriweather",Georgia,serif;
}

#curriculum h3{
  font-family: "Merriweather",Georgia,serif;
}

#curri{
  font-size: 3.5em;
  font-family: "Merriweather",Georgia,serif;
}

.welcome-page-h5{
  font-family: "Merriweather",Georgia,serif;
  font-weight: bold;
  margin-bottom: 20px !important;
}


